
.event_calendar {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 200px;
  font-size: 18px;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  width: 65vw;
  /* height: 45vw; */
  overflow: auto;
  display: inline-block;
  justify-content: center;
  align-self: center;
  
}

.fc-dayGridMonth-button {
    z-index: 0;
}


.fc .fc-button-group{
  z-index: 0;
}
.fc .fc-daygrid-day-top .fc-daygrid-day-number {
  z-index: 0;
}
.fc .fc-scroller-harness{
  z-index: 0;
}


html, body {
  /* overflow: hidden;  */
  /* don't do scrollbars */
}