.invitation-container{
  padding-top: 180px;
  padding-left: 80px;
  background-image: url("../Images/eth_plates.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: lightgray; */
}

.invitation-card{
  padding: 20px;
  
  /* background-color: lightgray; */
}

.announcement-card {
  background-color: rgb(236, 236, 236);
  padding-left: 40px;
  /* min-height: 100vh; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: left;
  justify-content: left; */
  text-align: left;
}