.invitation-container{
  padding-top: 150px;
  padding-left: 60px;
  background-image: url("../Images/eth_plates.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: lightgray; */


  
}

