.log-in-form {
  /* background-color: #5a978d; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-image: url("../Images/Fasilidas_palace_Gonder_Ethiopia_04.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* color: white; */
}

.accounts {
  /* background-color: #5a978d; */
  padding-top: 200px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  
}

.invitation {
  /* min-height: 5vh; */
  /* display: flex; */
  padding-top: 200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
