.main-container {
  padding-top: 200px;
  padding-left: 130px;
  /* background-image: "/src/Images/Fasilidas_palace_Gonder_Ethiopia_04.jpg"; */
  background-image: url("../Images/eth_plates.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-color: lightgray; */


  
}

