.sign-up-form {
  min-height: 100vh;
  display: grid;
  justify-content: center;
  background-image: url("../Images/Fasilidas_palace_Gonder_Ethiopia_04.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
