.sign-up-form {
  min-height: 100vh;
  background-image: url("../Images/Fasilidas_palace_Gonder_Ethiopia_04.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
